/*
Statuspage API

# Code of Conduct Please don't abuse the API, and please report all feature requests and issues to https://support.atlassian.com/contact  # Rate Limiting Each API token is limited to 1 request / second as measured on a 60 second rolling window. To get this limit increased, please contact us at https://support.atlassian.com/contact  Error codes 420 or 429 indicate that you have exceeded the rate limit and the request has been rejected.  # Basics  ## HTTPS It's required  ## URL Prefix In order to maintain version integrity into the future, the API is versioned. All calls currently begin with the following prefix:    https://api.statuspage.io/v1/  ## RESTful Interface Wherever possible, the API seeks to implement repeatable patterns with logical, representative URLs and descriptive HTTP verbs. Below are some examples and conventions you will see throughout the documentation.  * Collections are buckets: https://api.statuspage.io/v1/pages/asdf123/incidents.json * Elements have unique IDs: https://api.statuspage.io/v1/pages/asdf123/incidents/jklm456.json * GET will retrieve information about a collection/element * POST will create an element in a collection * PATCH will update a single element * PUT will replace a single element in a collection (rarely used) * DELETE will destroy a single element  ## Sending Data Information can be sent in the body as form urlencoded or JSON, but make sure the Content-Type header matches the body structure or the server gremlins will be angry.  All examples are provided in JSON format, however they can easily be converted to form encoding if required.  Some examples of how to convert things are below:      // JSON     {       \"incident\": {         \"name\": \"test incident\",         \"components\": [\"8kbf7d35c070\", \"vtnh60py4yd7\"]       }     }      // Form Encoded (using curl as an example):     curl -X POST https://api.statuspage.io/v1/example \\       -d \"incident[name]=test incident\" \\       -d \"incident[components][]=8kbf7d35c070\" \\       -d \"incident[components][]=vtnh60py4yd7\"  # Authentication  <!-- ReDoc-Inject: <security-definitions> -->

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// IncidentUpdatesAPIService IncidentUpdatesAPI service
type IncidentUpdatesAPIService service

type ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest struct {
	ctx                                                context.Context
	ApiService                                         *IncidentUpdatesAPIService
	pageId                                             string
	incidentId                                         string
	incidentUpdateId                                   string
	patchPagesPageIdIncidentsIncidentIdIncidentUpdates *PatchPagesPageIdIncidentsIncidentIdIncidentUpdates
}

func (r ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest) PatchPagesPageIdIncidentsIncidentIdIncidentUpdates(patchPagesPageIdIncidentsIncidentIdIncidentUpdates PatchPagesPageIdIncidentsIncidentIdIncidentUpdates) ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest {
	r.patchPagesPageIdIncidentsIncidentIdIncidentUpdates = &patchPagesPageIdIncidentsIncidentIdIncidentUpdates
	return r
}

func (r ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest) Execute() (*IncidentUpdate, *http.Response, error) {
	return r.ApiService.PatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdExecute(r)
}

/*
PatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId Update a previous incident update

Update a previous incident update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param pageId Page identifier
	@param incidentId Incident Identifier
	@param incidentUpdateId Incident Update Identifier
	@return ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest
*/
func (a *IncidentUpdatesAPIService) PatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId(ctx context.Context, pageId string, incidentId string, incidentUpdateId string) ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest {
	return ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest{
		ApiService:       a,
		ctx:              ctx,
		pageId:           pageId,
		incidentId:       incidentId,
		incidentUpdateId: incidentUpdateId,
	}
}

// Execute executes the request
//
//	@return IncidentUpdate
func (a *IncidentUpdatesAPIService) PatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdExecute(r ApiPatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest) (*IncidentUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentUpdatesAPIService.PatchPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pages/{page_id}/incidents/{incident_id}/incident_updates/{incident_update_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"page_id"+"}", url.PathEscape(parameterValueToString(r.pageId, "pageId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"incident_id"+"}", url.PathEscape(parameterValueToString(r.incidentId, "incidentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"incident_update_id"+"}", url.PathEscape(parameterValueToString(r.incidentUpdateId, "incidentUpdateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchPagesPageIdIncidentsIncidentIdIncidentUpdates == nil {
		return localVarReturnValue, nil, reportError("patchPagesPageIdIncidentsIncidentIdIncidentUpdates is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchPagesPageIdIncidentsIncidentIdIncidentUpdates
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest struct {
	ctx                                              context.Context
	ApiService                                       *IncidentUpdatesAPIService
	pageId                                           string
	incidentId                                       string
	incidentUpdateId                                 string
	putPagesPageIdIncidentsIncidentIdIncidentUpdates *PutPagesPageIdIncidentsIncidentIdIncidentUpdates
}

func (r ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest) PutPagesPageIdIncidentsIncidentIdIncidentUpdates(putPagesPageIdIncidentsIncidentIdIncidentUpdates PutPagesPageIdIncidentsIncidentIdIncidentUpdates) ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest {
	r.putPagesPageIdIncidentsIncidentIdIncidentUpdates = &putPagesPageIdIncidentsIncidentIdIncidentUpdates
	return r
}

func (r ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest) Execute() (*IncidentUpdate, *http.Response, error) {
	return r.ApiService.PutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdExecute(r)
}

/*
PutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId Update a previous incident update

Update a previous incident update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param pageId Page identifier
	@param incidentId Incident Identifier
	@param incidentUpdateId Incident Update Identifier
	@return ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest
*/
func (a *IncidentUpdatesAPIService) PutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId(ctx context.Context, pageId string, incidentId string, incidentUpdateId string) ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest {
	return ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest{
		ApiService:       a,
		ctx:              ctx,
		pageId:           pageId,
		incidentId:       incidentId,
		incidentUpdateId: incidentUpdateId,
	}
}

// Execute executes the request
//
//	@return IncidentUpdate
func (a *IncidentUpdatesAPIService) PutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdExecute(r ApiPutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateIdRequest) (*IncidentUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IncidentUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IncidentUpdatesAPIService.PutPagesPageIdIncidentsIncidentIdIncidentUpdatesIncidentUpdateId")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pages/{page_id}/incidents/{incident_id}/incident_updates/{incident_update_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"page_id"+"}", url.PathEscape(parameterValueToString(r.pageId, "pageId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"incident_id"+"}", url.PathEscape(parameterValueToString(r.incidentId, "incidentId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"incident_update_id"+"}", url.PathEscape(parameterValueToString(r.incidentUpdateId, "incidentUpdateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.putPagesPageIdIncidentsIncidentIdIncidentUpdates == nil {
		return localVarReturnValue, nil, reportError("putPagesPageIdIncidentsIncidentIdIncidentUpdates is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.putPagesPageIdIncidentsIncidentIdIncidentUpdates
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
