openapi: 3.0.0
info:
  title: Statuspage API
  description: |-
    # Code of Conduct
    Please don't abuse the API, and please report all feature requests and issues to
    https://help.statuspage.io/help/contact-us-30

    # Rate Limiting
    Each API token is limited to 1 request / second as measured on a 60 second rolling window.
    To get this limit increased, please contact us at https://help.statuspage.io/help/contact-us-30

    # Basics

    ## HTTPS
    It's required

    ## URL Prefix
    In order to maintain version integrity into the future, the API is versioned. All calls
    currently begin with the following prefix:

      https://api.statuspage.io/v1/

    ## RESTful Interface
    Wherever possible, the API seeks to implement repeatable patterns with logical,
    representative URLs and descriptive HTTP verbs. Below are some examples and conventions
    you will see throughout the documentation.

    * Collections are buckets: https://api.statuspage.io/v1/pages/asdf123/incidents.json
    * Elements have unique IDs: https://api.statuspage.io/v1/pages/asdf123/incidents/jklm456.json
    * GET will retrieve information about a collection/element
    * POST will create an element in a collection
    * PATCH will update a single element
    * PUT will replace a single element in a collection (rarely used)
    * DELETE will destroy a single element

    ## Sending Data
    Information can be sent in the body as form urlencoded or JSON, but make sure the
    Content-Type header matches the body structure or the server gremlins will be angry.

    All examples are provided in JSON format, however they can easily be converted to form encoding
    if required.  Some examples of how to convert things are below:

        // JSON
        {
          "incident": {
            "name": "test incident",
            "components": ["8kbf7d35c070", "vtnh60py4yd7"]
          }
        }

        // Form Encoded (using curl as an example):
        curl -X POST https://api.statuspage.io/v1/example \
          -d "incident[name]=test incident" \
          -d "incident[components][]=8kbf7d35c070" \
          -d "incident[components][]=vtnh60py4yd7"

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  contact:
    name: Statuspage Support
    url: https://help.statuspage.io/help/contact-us-30
  version: 1.0.0
  x-logo:
    url: https://d1ykxpo828xni0.cloudfront.net/Statuspage-logo-padding.svg
servers:
- url: https://api.statuspage.io/v1
security:
- api_key: []
tags:
- name: status embed config
  description: |
    Operations about status embed configs.
  x-displayName: Status Embed Config
- name: pages
  description: |
    Your page profile drives basic settings for your status page including your company name,
    notification preferences, and time zone.
  x-displayName: Pages
- name: page access users
  description: |
    Page access users allow you to limit people who can see your status page via a login. It
    also allows you to limit the components and metrics each status page visitor can see,
    customizing the status page for their needs.

    You will need Statuspage to switch your page type to audience-specific before these API
    endpoints have any effect on your status page.
  x-displayName: Page Access Users
- name: page access user components
  x-displayName: Page Access User Components
- name: page access user metrics
  x-displayName: Page Access User Metrics
- name: page access groups
  description: |
    Page access groups allow you to create a grouping of components, metrics and people who
    can see your status page via a login, customizing the status page for their needs.

    You will need Statuspage to switch your page type to audience-specific before these API
    endpoints have any effect on your status page.
  x-displayName: Page Access Groups
- name: page access group components
  x-displayName: Page Access Group Components
- name: subscribers
  description: |
    Subscribers are those that receive notifications via email, sms, Slack, or webhook to incidents
    that are reported and subsequently updated.

    Subscribers can be subscribed to:
    *  a status page, where they get all updates to every incident automatically,
    *  one or more components of a status page, where they get all updates to those
       components automatically, or
    *  a specific incident, where they will only receive notifications for updates to that
       incident after they subscribed (not applicable for Slack subscribers).

    If a (page or component) subscriber fails to receive a notification, they will be
    [quarantined](https://help.statuspage.io/knowledge_base/topics/quarantined-subscribers).
    Quarantined subscribers are excluded from API responses and interactions by default.
  x-displayName: Subscribers
- name: templates
  description: |
    Templates allow you to set a pre-filled name and message that can be used later to save time when creating an incident or scheduling a maintenance.
  x-displayName: Templates
- name: incidents
  description: |
    Incidents are critical events that have occurred with your product or service that you
    want to communicate to your users. They come in three flavors: historical, realtime, and
    scheduled.

    **Historical**: historical incidents are submitted to accuractely reflect past incidents
    from your infrastructure that occurred before you created your Statuspage account.

    **Realtime**: realtime incidents are created when something unexpected is affecting your
    infrastructure. Notifications are sent out to your subscribers informing them of the
    incident, and it is displayed prominently at the top of your status page. This is the
    most common incident type.

    **Scheduled**: scheduled incidents are planned outages or maintenance periods coming
    up in the future. Notifications are sent out to your subscribers informing them of the
    planned incident, and additional options are available to remind subscribers 60 minutes
    before the incident start and to automatically transition the incident to In Progress
    at the start of the incident maintenance period.
  x-displayName: Incidents
- name: incident updates
  x-displayName: Incident Updates
- name: incident subscribers
  x-displayName: Incident Subscribers
- name: incident postmortem
  description: |
    Postmortems are a great way to post information about an incident after it has passed.
    They generally contain detailed information about the events that caused the incident,
    mitigation steps to stop it from happening, and followup work that has and will occur
    to ensure similar incidents do not occur in the future. After Postmortems are authored
    they can be sent to customers via email notifications or Twitter, and will show on the
    incident details page.
  x-displayName: Incident Postmortem
- name: components
  description: |
    Components are the individual pieces of infrastructure that are listed on your status
    page.  This endpoint is used primarily to update status on individual components in the
    event of an outage or for degraded performance.
  x-displayName: Components
- name: component groups
  description: |
    Component groups provide a way to organize components. This endpoint can be used to
    list, create, update or delete component groups. When a group is deleted, its child
    components will be orphaned. Note: A group cannot be empty, so if all the child
    components are deleted, the group will be deleted automatically. Another implication of
    this is that components must be created before their groups, when a group is created it
    will require a list of component IDs.
  x-displayName: Component Groups
- name: metrics
  description: |
    System metrics are a great way to build trust and transparency around your organization,
    and ensure that your page is doing work for you each and every day. Submitting data for
    a custom metric is as easy as sending a POST request with the timestamp and value of the
    data point.

    Take note that there are a couple constraints and considerations when submitting data:

    * At minimum, one data point must be submitted every **5 minutes**. If there is a lag in
      data, the gap will be reflected on the charts for the "Day" view.

    * Each data point is cast to its nearest **30s interval**, giving us a maximum of 10 data
      points per 5 minute period. Submitting multiple data points near each other will result
      in the last data point being the only one stored.

    * The timestamp value returned in the body of the response will be the **casted timestamp**
      used to store your data.

    * Data can, and should, be backfilled up to **28 days** in the past.
  x-displayName: Metrics
- name: metric providers
  x-displayName: Metric Providers
- name: users
  description: |
    Users are owned by an organization, and have access to all pages and elements owned by
    the pages under a given organization.
    <br /><br />
    **Important note**
    <br />
    User management endpoints are not available for organizations using Atlassian accounts. These endpoints will be deprecated and will no longer work when all Statuspage accounts are migrated to Atlassian accounts.
  x-displayName: Users
paths:
  /pages:
    get:
      tags:
      - pages
      summary: Get a list of pages
      description: Get a list of pages
      operationId: getPages
      responses:
        200:
          description: Get a list of pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}:
    get:
      tags:
      - pages
      summary: Get a page
      description: Get a page
      operationId: getPagesPageId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get a page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    put:
      tags:
      - pages
      summary: Update a page
      description: Update a page
      operationId: putPagesPageId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPages'
        required: true
      responses:
        200:
          description: Update a page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page[name]=string" \
            -d "page[domain]=string" \
            -d "page[url]=string"
    patch:
      tags:
      - pages
      summary: Update a page
      description: Update a page
      operationId: patchPagesPageId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPages'
        required: true
      responses:
        200:
          description: Update a page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page[name]=string" \
            -d "page[domain]=string" \
            -d "page[url]=string"
  /pages/{page_id}/page_access_users:
    get:
      tags:
      - page access users
      summary: Get a list of page access users
      description: Get a list of page access users
      operationId: getPagesPageIdPageAccessUsers
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: email
        in: query
        description: Email address to search for
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        200:
          description: Get a list of page access users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      tags:
      - page access users
      summary: Add a page access user
      description: Add a page access user
      operationId: postPagesPageIdPageAccessUsers
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessUsers'
        required: true
      responses:
        200:
          description: Add a page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        409:
          description: The request could not be processed due to a conflict in resource state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "page_access_user[external_login]=string" \
            -d "page_access_user[email]=string" \
            -d "page_access_user[page_access_group_ids][]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}:
    get:
      tags:
      - page access users
      summary: Get page access user
      description: Get page access user
      operationId: getPagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    put:
      tags:
      - page access users
      summary: Update page access user
      description: Update page access user
      operationId: putPagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Update page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_user[external_login]=string" \
            -d "page_access_user[email]=string" \
            -d "page_access_user[page_access_group_ids][]=your-id"
    delete:
      tags:
      - page access users
      summary: Delete page access user
      description: Delete page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        204:
          description: Delete page access user
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    patch:
      tags:
      - page access users
      summary: Update page access user
      description: Update page access user
      operationId: patchPagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Update page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_user[external_login]=string" \
            -d "page_access_user[email]=string" \
            -d "page_access_user[page_access_group_ids][]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}/components:
    get:
      tags:
      - page access user components
      summary: Get components for page access user
      description: Get components for page access user
      operationId: getPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get components for page access user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Component'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    put:
      tags:
      - page access user components
      summary: Add components for page access user
      description: Add components for page access user
      operationId: putPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/patchPagesPageIdPageAccessUsersPageAccessUserIdComponents'
      responses:
        200:
          description: Add components for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
    post:
      tags:
      - page access user components
      summary: Replace components for page access user
      description: Replace components for page access user
      operationId: postPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/patchPagesPageIdPageAccessUsersPageAccessUserIdComponents'
      responses:
        201:
          description: Replace components for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "component_ids[]=your-id"
    delete:
      tags:
      - page access user components
      summary: Remove components for page access user
      description: Remove components for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/body'
      responses:
        200:
          description: Remove components for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE \
            -d "component_ids[]=your-id"
    patch:
      tags:
      - page access user components
      summary: Add components for page access user
      description: Add components for page access user
      operationId: patchPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/patchPagesPageIdPageAccessUsersPageAccessUserIdComponents'
      responses:
        200:
          description: Add components for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}/components/{component_id}:
    delete:
      tags:
      - page access user components
      summary: Remove component for page access user
      description: Remove component for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdComponentsComponentId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: component_id
        in: path
        description: Component identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Remove component for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
  /pages/{page_id}/page_access_users/{page_access_user_id}/metrics:
    get:
      tags:
      - page access user metrics
      summary: Get metrics for page access user
      description: Get metrics for page access user
      operationId: getPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get metrics for page access user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Metric'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    put:
      tags:
      - page access user metrics
      summary: Add metrics for page access user
      description: Add metrics for page access user
      operationId: putPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        200:
          description: Add metrics for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "metric_ids[]=your-id"
    post:
      tags:
      - page access user metrics
      summary: Replace metrics for page access user
      description: Replace metrics for page access user
      operationId: postPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        201:
          description: Replace metrics for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "metric_ids[]=your-id"
    delete:
      tags:
      - page access user metrics
      summary: Delete metrics for page access user
      description: Delete metrics for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deletePagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        200:
          description: Delete metrics for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    patch:
      tags:
      - page access user metrics
      summary: Add metrics for page access user
      description: Add metrics for page access user
      operationId: patchPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        200:
          description: Add metrics for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "metric_ids[]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}/metrics/{metric_id}:
    delete:
      tags:
      - page access user metrics
      summary: Delete metric for page access user
      description: Delete metric for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdMetricsMetricId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_user_id
        in: path
        description: Page Access User Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: metric_id
        in: path
        description: Identifier of metric requested
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Delete metric for page access user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics/{metric_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
  /pages/{page_id}/page_access_groups:
    get:
      tags:
      - page access groups
      summary: Get a list of page access groups
      description: Get a list of page access groups
      operationId: getPagesPageIdPageAccessGroups
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get a list of page access groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      tags:
      - page access groups
      summary: Create a page access group
      description: Create a page access group
      operationId: postPagesPageIdPageAccessGroups
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessGroups'
        required: true
      responses:
        201:
          description: Create a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "page_access_group[name]=string" \
            -d "page_access_group[component_ids][]=your-id" \
            -d "page_access_group[metric_ids][]=your-id"
  /pages/{page_id}/page_access_groups/{page_access_group_id}:
    get:
      tags:
      - page access groups
      summary: Get a page access group
      description: Get a page access group
      operationId: getPagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    put:
      tags:
      - page access groups
      summary: Update a page access group
      description: Update a page access group
      operationId: putPagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessGroups'
        required: true
      responses:
        200:
          description: Update a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_group[name]=string" \
            -d "page_access_group[component_ids][]=your-id" \
            -d "page_access_group[metric_ids][]=your-id"
    delete:
      tags:
      - page access groups
      summary: Remove a page access group
      description: Remove a page access group
      operationId: deletePagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Remove a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    patch:
      tags:
      - page access groups
      summary: Update a page access group
      description: Update a page access group
      operationId: patchPagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessGroups'
        required: true
      responses:
        200:
          description: Update a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_group[name]=string" \
            -d "page_access_group[component_ids][]=your-id" \
            -d "page_access_group[metric_ids][]=your-id"
  /pages/{page_id}/page_access_groups/{page_access_group_id}/components:
    get:
      tags:
      - page access group components
      summary: List components for a page access group
      description: List components for a page access group
      operationId: getPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: List components for a page access group
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Component'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    put:
      tags:
      - page access group components
      summary: Add components to page access group
      description: Add components to page access group
      operationId: putPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        200:
          description: Add components to page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
    post:
      tags:
      - page access group components
      summary: Replace components for a page access group
      description: Replace components for a page access group
      operationId: postPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        201:
          description: Replace components for a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "component_ids[]=your-id"
    delete:
      tags:
      - page access group components
      summary: Delete components for a page access group
      description: Delete components for a page access group
      operationId: deletePagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deletePagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        200:
          description: Delete components for a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    patch:
      tags:
      - page access group components
      summary: Add components to page access group
      description: Add components to page access group
      operationId: patchPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        200:
          description: Add components to page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
  /pages/{page_id}/page_access_groups/{page_access_group_id}/components/{component_id}:
    delete:
      tags:
      - page access group components
      summary: Remove a component from a page access group
      description: Remove a component from a page access group
      operationId: deletePagesPageIdPageAccessGroupsPageAccessGroupIdComponentsComponentId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_access_group_id
        in: path
        description: Page Access Group Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: component_id
        in: path
        description: Component identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Remove a component from a page access group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components/{component_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
  /pages/{page_id}/subscribers/resend_confirmation:
    post:
      tags:
      - subscribers
      summary: Resend confirmations to a list of subscribers
      description: Resend confirmations to a list of subscribers
      operationId: postPagesPageIdSubscribersResendConfirmation
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribersResendConfirmation'
        required: true
      responses:
        201:
          description: Resend confirmations to a list of subscribers
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/resend_confirmation \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscribers[]=your-id"
  /pages/{page_id}/subscribers/unsubscribe:
    post:
      tags:
      - subscribers
      summary: Unsubscribe a list of subscribers
      description: Unsubscribe a list of subscribers
      operationId: postPagesPageIdSubscribersUnsubscribe
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribersUnsubscribe'
        required: true
      responses:
        201:
          description: Unsubscribe a list of subscribers
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/unsubscribe \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscribers[]=your-id"
  /pages/{page_id}/subscribers/reactivate:
    post:
      tags:
      - subscribers
      summary: Reactivate a list of subscribers
      description: Reactivate a list of quarantined subscribers
      operationId: postPagesPageIdSubscribersReactivate
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribersReactivate'
        required: true
      responses:
        201:
          description: Reactivate a list of quarantined subscribers
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/reactivate \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscribers[]=your-id"
  /pages/{page_id}/subscribers/histogram_by_state:
    get:
      tags:
      - subscribers
      summary: Get a histogram of subscribers by type and then state
      description: Get a histogram of subscribers by type and then state
      operationId: getPagesPageIdSubscribersHistogramByState
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get a histogram of subscribers by type and then state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberCountByTypeAndState'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/histogram_by_state \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}/subscribers/count:
    get:
      tags:
      - subscribers
      summary: Get a count of subscribers by type
      description: Get a count of subscribers by type
      operationId: getPagesPageIdSubscribersCount
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        description: If this is present, only count subscribers of this type.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - email
          - sms
          - slack
          - webhook
          - integration_partner
      - name: state
        in: query
        description: If this is present, only count subscribers in this state. Specify state "all" to count subscribers in any states.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - active
          - unconfirmed
          - quarantined
          - all
          default: active
      responses:
        200:
          description: Get a count of subscribers by type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberCountByType'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/count \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}/subscribers/unsubscribed:
    get:
      tags:
      - subscribers
      summary: Get a list of unsubscribed subscribers
      description: Get a list of unsubscribed subscribers
      operationId: getPagesPageIdSubscribersUnsubscribed
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get a list of unsubscribed subscribers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscriber'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/unsubscribed \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}/subscribers:
    get:
      tags:
      - subscribers
      summary: Get a list of subscribers
      description: Get a list of subscribers
      operationId: getPagesPageIdSubscribers
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: q
        in: query
        description: If this is specified, search the contact information (email, endpoint, or phone number) for the provided value. This parameter doesn’t support searching for Slack subscribers.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: If specified, only return subscribers of the indicated type.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - email
          - sms
          - webhook
          - slack
          - integration_partner
      - name: state
        in: query
        description: If this is present, only return subscribers in this state. Specify state "all" to find subscribers in any states.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - active
          - unconfirmed
          - quarantined
          - all
          default: active
      - name: limit
        in: query
        description: The maximum number of rows to return. If a text query string is specified (q=), the default and maximum limit is 100. If the text query string is not specified, the default and maximum limit are not set, and not providing a limit will return all the subscribers.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: The page offset of subscribers. The first page is page 0, the second page 1, etc. This skips page * limit subscribers.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: sort_field
        in: query
        description: 'The field on which to sort: ''primary'' to indicate sorting
          by the identifying field, ''created_at'' for sorting by creation timestamp,
          ''quarantined_at'' for sorting by quarantine timestamp, and ''relevance''
          which sorts by the relevancy of the search text. ''relevance'' is not a
          valid parameter if no search text is supplied.'
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - primary
          - created_at
          - quarantined_at
          - relevance
          default: primary
      - name: sort_direction
        in: query
        description: The sort direction of the listing.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        200:
          description: Get a list of subscribers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscriber'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      tags:
      - subscribers
      summary: Create a subscriber
      description: Create a subscriber. Not applicable for Slack subscribers.
      operationId: postPagesPageIdSubscribers
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribers'
        required: true
      responses:
        201:
          description: Create a subscriber. Not applicable for Slack subscribers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        403:
          description: You are not authorized to access this resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscriber[email]=string"
  /pages/{page_id}/subscribers/{subscriber_id}/resend_confirmation:
    post:
      tags:
      - subscribers
      summary: Resend confirmation to a subscriber
      description: Resend confirmation to a subscriber
      operationId: postPagesPageIdSubscribersSubscriberIdResendConfirmation
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriber_id
        in: path
        description: Subscriber Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        201:
          description: Resend confirmation to a subscriber
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id}/resend_confirmation \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST
  /pages/{page_id}/subscribers/{subscriber_id}:
    get:
      tags:
      - subscribers
      summary: Get a subscriber
      description: Get a subscriber
      operationId: getPagesPageIdSubscribersSubscriberId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriber_id
        in: path
        description: Subscriber Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Get a subscriber
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    delete:
      tags:
      - subscribers
      summary: Unsubscribe a subscriber
      description: Unsubscribe a subscriber
      operationId: deletePagesPageIdSubscribersSubscriberId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriber_id
        in: path
        description: Subscriber Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: skip_unsubscription_notification
        in: query
        description: If skip_unsubscription_notification is true, the subscriber does not receive any notifications when they are unsubscribed.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        200:
          description: Unsubscribe a subscriber
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    patch:
      tags:
      - subscribers
      summary: Update a subscriber
      description: Update a subscriber
      operationId: patchPagesPageIdSubscribersSubscriberId
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: subscriber_id
        in: path
        description: Subscriber Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdSubscribers'
        required: true
      responses:
        200:
          description: Update a subscriber
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
  /pages/{page_id}/incident_templates:
    get:
      tags:
      - templates
      summary: Get a list of templates
      description: Get a list of templates
      operationId: getPagesPageIdIncidentTemplates
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: Page offset to fetch.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Number of results to return per page.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        200:
          description: Get a list of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentTemplate'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/incident_templates \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      tags:
      - templates
      summary: Create a template
      description: Create a template
      operationId: postPagesPageIdIncidentTemplates
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdIncidentTemplates'
        required: true
      responses:
        201:
          description: Create a template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentTemplate'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        401:
          description: Could not authenticate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        404:
          description: The requested resource could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
        422:
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/incident_templates \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "template[name]=string" \
            -d "template[title]=string" \
            -d "template[body]=string"
  /pages/{page_id}/incidents:
    get:
      tags:
      - incidents
      summary: Get a list of incidents
      description: Get a list of incidents
      operationId: getPagesPageIdIncidents
      parameters:
      - name: page_id
        in: path
        description: Page identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: q
        in: query
        description: If this is specified, search for the text query string in the incidents' name, status, postmortem_body, and incident_updates fields.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of rows to return per page. The default and maximum limit is 100.
[...]
