openapi: 3.0.0
info:
  contact:
    name: Statuspage Support
    url: https://support.atlassian.com/contact
  description: |-
    # Code of Conduct
    Please don't abuse the API, and please report all feature requests and issues to
    https://support.atlassian.com/contact

    # Rate Limiting
    Each API token is limited to 1 request / second as measured on a 60 second rolling window.
    To get this limit increased, please contact us at https://support.atlassian.com/contact

    Error codes 420 or 429 indicate that you have exceeded the rate limit and the request has been rejected.

    # Basics

    ## HTTPS
    It's required

    ## URL Prefix
    In order to maintain version integrity into the future, the API is versioned. All calls
    currently begin with the following prefix:

      https://api.statuspage.io/v1/

    ## RESTful Interface
    Wherever possible, the API seeks to implement repeatable patterns with logical,
    representative URLs and descriptive HTTP verbs. Below are some examples and conventions
    you will see throughout the documentation.

    * Collections are buckets: https://api.statuspage.io/v1/pages/asdf123/incidents.json
    * Elements have unique IDs: https://api.statuspage.io/v1/pages/asdf123/incidents/jklm456.json
    * GET will retrieve information about a collection/element
    * POST will create an element in a collection
    * PATCH will update a single element
    * PUT will replace a single element in a collection (rarely used)
    * DELETE will destroy a single element

    ## Sending Data
    Information can be sent in the body as form urlencoded or JSON, but make sure the
    Content-Type header matches the body structure or the server gremlins will be angry.

    All examples are provided in JSON format, however they can easily be converted to form encoding
    if required.  Some examples of how to convert things are below:

        // JSON
        {
          "incident": {
            "name": "test incident",
            "components": ["8kbf7d35c070", "vtnh60py4yd7"]
          }
        }

        // Form Encoded (using curl as an example):
        curl -X POST https://api.statuspage.io/v1/example \
          -d "incident[name]=test incident" \
          -d "incident[components][]=8kbf7d35c070" \
          -d "incident[components][]=vtnh60py4yd7"

    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->
  title: Statuspage API
  version: 1.0.0
  x-logo:
    url: https://d1ykxpo828xni0.cloudfront.net/Statuspage-logo-padding.svg
servers:
- url: https://api.statuspage.io/v1
security:
- api_key: []
tags:
- description: Operations about permissions
  name: permissions
- description: |
    Operations about status embed configs.
  name: status embed config
  x-displayName: Status Embed Config
- description: |
    Your page profile drives basic settings for your status page including your company name,
    notification preferences, and time zone.
  name: pages
  x-displayName: Pages
- description: |
    Page access users allow you to limit people who can see your status page via a login. It
    also allows you to limit the components and metrics each status page visitor can see,
    customizing the status page for their needs.

    You will need Statuspage to switch your page type to audience-specific before these API
    endpoints have any effect on your status page.
  name: page access users
  x-displayName: Page Access Users
- name: page access user components
  x-displayName: Page Access User Components
- name: page access user metrics
  x-displayName: Page Access User Metrics
- description: |
    Page access groups allow you to create a grouping of components, metrics and people who
    can see your status page via a login, customizing the status page for their needs.

    You will need Statuspage to switch your page type to audience-specific before these API
    endpoints have any effect on your status page.
  name: page access groups
  x-displayName: Page Access Groups
- name: page access group components
  x-displayName: Page Access Group Components
- description: |
    Subscribers are those that receive notifications via email, sms, Slack, or webhook to incidents
    that are reported and subsequently updated.

    Subscribers can be subscribed to:
    *  a status page, where they get all updates to every incident automatically,
    *  one or more components of a status page, where they get all updates to those
       components automatically, or
    *  a specific incident, where they will only receive notifications for updates to that
       incident after they subscribed (not applicable for Slack subscribers).

    If a (page or component) subscriber fails to receive a notification, they will be
    [quarantined](https://help.statuspage.io/knowledge_base/topics/quarantined-subscribers).
    Quarantined subscribers are excluded from API responses and interactions by default.
  name: subscribers
  x-displayName: Subscribers
- description: |
    Templates allow you to set a pre-filled name and message that can be used later to save time when creating an incident or scheduling a maintenance.
  name: templates
  x-displayName: Templates
- description: |
    Incidents are critical events that have occurred with your product or service that you
    want to communicate to your users. They come in three flavors: historical, realtime, and
    scheduled.

    **Historical**: historical incidents are submitted to accuractely reflect past incidents
    from your infrastructure that occurred before you created your Statuspage account.

    **Realtime**: realtime incidents are created when something unexpected is affecting your
    infrastructure. Notifications are sent out to your subscribers informing them of the
    incident, and it is displayed prominently at the top of your status page. This is the
    most common incident type.

    **Scheduled**: scheduled incidents are planned outages or maintenance periods coming
    up in the future. Notifications are sent out to your subscribers informing them of the
    planned incident, and additional options are available to remind subscribers 60 minutes
    before the incident start and to automatically transition the incident to In Progress
    at the start of the incident maintenance period.
  name: incidents
  x-displayName: Incidents
- name: incident updates
  x-displayName: Incident Updates
- name: incident subscribers
  x-displayName: Incident Subscribers
- description: |
    Postmortems are a great way to post information about an incident after it has passed.
    They generally contain detailed information about the events that caused the incident,
    mitigation steps to stop it from happening, and followup work that has and will occur
    to ensure similar incidents do not occur in the future. After Postmortems are authored
    they can be sent to customers via email notifications or Twitter, and will show on the
    incident details page.
  name: incident postmortem
  x-displayName: Incident Postmortem
- description: |
    Components are the individual pieces of infrastructure that are listed on your status
    page.  This endpoint is used primarily to update status on individual components in the
    event of an outage or for degraded performance.
  name: components
  x-displayName: Components
- description: |
    Component groups provide a way to organize components. This endpoint can be used to
    list, create, update or delete component groups. When a group is deleted, its child
    components will be orphaned. Note: A group cannot be empty, so if all the child
    components are deleted, the group will be deleted automatically. Another implication of
    this is that components must be created before their groups, when a group is created it
    will require a list of component IDs.
  name: component groups
  x-displayName: Component Groups
- description: |
    System metrics are a great way to build trust and transparency around your organization,
    and ensure that your page is doing work for you each and every day. Submitting data for
    a custom metric is as easy as sending a POST request with the timestamp and value of the
    data point.

    Take note that there are a couple constraints and considerations when submitting data:

    * At minimum, one data point must be submitted every **5 minutes**. If there is a lag in
      data, the gap will be reflected on the charts for the "Day" view.

    * Each data point is cast to its nearest **30s interval**, giving us a maximum of 10 data
      points per 5 minute period. Submitting multiple data points near each other will result
      in the last data point being the only one stored.

    * The timestamp value returned in the body of the response will be the **casted timestamp**
      used to store your data.

    * Data can, and should, be backfilled up to **28 days** in the past.
  name: metrics
  x-displayName: Metrics
- name: metric providers
  x-displayName: Metric Providers
- description: |
    Users are owned by an organization, and have access to all pages and elements owned by
    the pages under a given organization.
    <br /><br />
    **Important note**
    <br />
    User management endpoints are not available for organizations using Atlassian accounts. These endpoints will be deprecated and will no longer work when all Statuspage accounts are migrated to Atlassian accounts.
  name: users
  x-displayName: Users
paths:
  /pages:
    get:
      description: Get a list of pages
      operationId: getPages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Page'
                type: array
          description: Get a list of pages
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
      summary: Get a list of pages
      tags:
      - pages
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}:
    get:
      description: Get a page
      operationId: getPagesPageId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Get a page
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a page
      tags:
      - pages
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Update a page
      operationId: patchPagesPageId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPages'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Update a page
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Update a page
      tags:
      - pages
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page[name]=string" \
            -d "page[domain]=string" \
            -d "page[url]=string"
    put:
      description: Update a page
      operationId: putPagesPageId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPages'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
          description: Update a page
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Update a page
      tags:
      - pages
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page[name]=string" \
            -d "page[domain]=string" \
            -d "page[url]=string"
  /pages/{page_id}/page_access_users:
    get:
      description: Get a list of page access users
      operationId: getPagesPageIdPageAccessUsers
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Email address to search for
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: Page offset to fetch. Beginning February 28, 2023, this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to return per page. Beginning February 28,
          2023, a default and maximum limit of 100 will be imposed and this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PageAccessUser'
                type: array
          description: Get a list of page access users
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a list of page access users
      tags:
      - page access users
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      description: Add a page access user
      operationId: postPagesPageIdPageAccessUsers
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessUsers'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Add a page access user
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The request could not be processed due to a conflict in resource
            state.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Add a page access user
      tags:
      - page access users
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "page_access_user[external_login]=string" \
            -d "page_access_user[email]=string" \
            -d "page_access_user[page_access_group_ids][]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}:
    delete:
      description: Delete page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Delete page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Delete page access user
      tags:
      - page access users
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    get:
      description: Get page access user
      operationId: getPagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Get page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get page access user
      tags:
      - page access users
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Update page access user
      operationId: patchPagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Update page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Update page access user
      tags:
      - page access users
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_user[external_login]=string" \
            -d "page_access_user[email]=string" \
            -d "page_access_user[page_access_group_ids][]=your-id"
    put:
      description: Update page access user
      operationId: putPagesPageIdPageAccessUsersPageAccessUserId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Update page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Update page access user
      tags:
      - page access users
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_user[external_login]=string" \
            -d "page_access_user[email]=string" \
            -d "page_access_user[page_access_group_ids][]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}/components:
    delete:
      description: Remove components for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deletePagesPageIdPageAccessUsersPageAccessUserIdComponents'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Remove components for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Remove components for page access user
      tags:
      - page access user components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE \
            -d "component_ids[]=your-id"
    get:
      description: Get components for page access user
      operationId: getPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page offset to fetch. Beginning February 28, 2023, this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to return per page. Beginning February 28,
          2023, a default and maximum limit of 100 will be imposed and this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Component'
                type: array
          description: Get components for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get components for page access user
      tags:
      - page access user components
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Add components for page access user
      operationId: patchPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessUsersPageAccessUserIdComponents'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Add components for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Add components for page access user
      tags:
      - page access user components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
    post:
      description: Replace components for page access user
      operationId: postPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessUsersPageAccessUserIdComponents'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Replace components for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Replace components for page access user
      tags:
      - page access user components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "component_ids[]=your-id"
    put:
      description: Add components for page access user
      operationId: putPagesPageIdPageAccessUsersPageAccessUserIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessUsersPageAccessUserIdComponents'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Add components for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Add components for page access user
      tags:
      - page access user components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}/components/{component_id}:
    delete:
      description: Remove component for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdComponentsComponentId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Component identifier
        explode: false
        in: path
        name: component_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Remove component for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Remove component for page access user
      tags:
      - page access user components
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
  /pages/{page_id}/page_access_users/{page_access_user_id}/metrics:
    delete:
      description: Delete metrics for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deletePagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Delete metrics for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Delete metrics for page access user
      tags:
      - page access user metrics
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    get:
      description: Get metrics for page access user
      operationId: getPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page offset to fetch. Beginning February 28, 2023, this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to return per page. Beginning February 28,
          2023, a default and maximum limit of 100 will be imposed and this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Metric'
                type: array
          description: Get metrics for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get metrics for page access user
      tags:
      - page access user metrics
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Add metrics for page access user
      operationId: patchPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Add metrics for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Add metrics for page access user
      tags:
      - page access user metrics
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "metric_ids[]=your-id"
    post:
      description: Replace metrics for page access user
      operationId: postPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Replace metrics for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Replace metrics for page access user
      tags:
      - page access user metrics
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "metric_ids[]=your-id"
    put:
      description: Add metrics for page access user
      operationId: putPagesPageIdPageAccessUsersPageAccessUserIdMetrics
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessUsersPageAccessUserIdMetrics'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Add metrics for page access user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Add metrics for page access user
      tags:
      - page access user metrics
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "metric_ids[]=your-id"
  /pages/{page_id}/page_access_users/{page_access_user_id}/metrics/{metric_id}:
    delete:
      description: Delete metric for page access user
      operationId: deletePagesPageIdPageAccessUsersPageAccessUserIdMetricsMetricId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access User Identifier
        explode: false
        in: path
        name: page_access_user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Identifier of metric requested
        explode: false
        in: path
        name: metric_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessUser'
          description: Delete metric for page access user
      summary: Delete metric for page access user
      tags:
      - page access user metrics
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_users/{page_access_user_id}/metrics/{metric_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
  /pages/{page_id}/page_access_groups:
    get:
      description: Get a list of page access groups
      operationId: getPagesPageIdPageAccessGroups
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page offset to fetch. Beginning February 28, 2023, this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to return per page. Beginning February 28,
          2023, a default and maximum limit of 100 will be imposed and this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PageAccessGroup'
                type: array
          description: Get a list of page access groups
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a list of page access groups
      tags:
      - page access groups
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      description: Create a page access group
      operationId: postPagesPageIdPageAccessGroups
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessGroups'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Create a page access group
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Create a page access group
      tags:
      - page access groups
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "page_access_group[name]=string" \
            -d "page_access_group[component_ids][]=your-id" \
            -d "page_access_group[metric_ids][]=your-id"
  /pages/{page_id}/page_access_groups/{page_access_group_id}:
    delete:
      description: Remove a page access group
      operationId: deletePagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Remove a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Remove a page access group
      tags:
      - page access groups
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    get:
      description: Get a page access group
      operationId: getPagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Get a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a page access group
      tags:
      - page access groups
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Update a page access group
      operationId: patchPagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessGroups'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Update a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Update a page access group
      tags:
      - page access groups
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_group[name]=string" \
            -d "page_access_group[component_ids][]=your-id" \
            -d "page_access_group[metric_ids][]=your-id"
    put:
      description: Update a page access group
      operationId: putPagesPageIdPageAccessGroupsPageAccessGroupId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessGroups'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Update a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Update a page access group
      tags:
      - page access groups
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups/{page_access_group_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "page_access_group[name]=string" \
            -d "page_access_group[component_ids][]=your-id" \
            -d "page_access_group[metric_ids][]=your-id"
  /pages/{page_id}/page_access_groups/{page_access_group_id}/components:
    delete:
      description: Delete components for a page access group
      operationId: deletePagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deletePagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Delete components for a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Delete components for a page access group
      tags:
      - page access group components
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    get:
      description: List components for a page access group
      operationId: getPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page offset to fetch. Beginning February 28, 2023, this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to return per page. Beginning February 28,
          2023, a default and maximum limit of 100 will be imposed and this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Component'
                type: array
          description: List components for a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: List components for a page access group
      tags:
      - page access group components
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Add components to page access group
      operationId: patchPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patchPagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Add components to page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Add components to page access group
      tags:
      - page access group components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
    post:
      description: Replace components for a page access group
      operationId: postPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Replace components for a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Replace components for a page access group
      tags:
      - page access group components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "component_ids[]=your-id"
    put:
      description: Add components to page access group
      operationId: putPagesPageIdPageAccessGroupsPageAccessGroupIdComponents
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putPagesPageIdPageAccessGroupsPageAccessGroupIdComponents'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Add components to page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Add components to page access group
      tags:
      - page access group components
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X PATCH \
            -d "component_ids[]=your-id"
  /pages/{page_id}/page_access_groups/{page_access_group_id}/components/{component_id}:
    delete:
      description: Remove a component from a page access group
      operationId: deletePagesPageIdPageAccessGroupsPageAccessGroupIdComponentsComponentId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page Access Group Identifier
        explode: false
        in: path
        name: page_access_group_id
        required: true
        schema:
          type: string
        style: simple
      - description: Component identifier
        explode: false
        in: path
        name: component_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAccessGroup'
          description: Remove a component from a page access group
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Remove a component from a page access group
      tags:
      - page access group components
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/page_access_groups{page_access_group_id}/components/{component_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
  /pages/{page_id}/subscribers/resend_confirmation:
    post:
      description: Resend confirmations to a list of subscribers
      operationId: postPagesPageIdSubscribersResendConfirmation
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribersResendConfirmation'
        required: true
      responses:
        "201":
          description: Resend confirmations to a list of subscribers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Resend confirmations to a list of subscribers
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/resend_confirmation \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscribers[]=your-id"
  /pages/{page_id}/subscribers/unsubscribe:
    post:
      description: Unsubscribe a list of subscribers
      operationId: postPagesPageIdSubscribersUnsubscribe
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribersUnsubscribe'
        required: true
      responses:
        "201":
          description: Unsubscribe a list of subscribers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Unsubscribe a list of subscribers
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/unsubscribe \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscribers[]=your-id"
  /pages/{page_id}/subscribers/reactivate:
    post:
      description: Reactivate a list of quarantined subscribers
      operationId: postPagesPageIdSubscribersReactivate
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribersReactivate'
        required: true
      responses:
        "201":
          description: Reactivate a list of quarantined subscribers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Reactivate a list of subscribers
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/reactivate \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscribers[]=your-id"
  /pages/{page_id}/subscribers/histogram_by_state:
    get:
      description: Get a histogram of subscribers by type and then state
      operationId: getPagesPageIdSubscribersHistogramByState
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberCountByTypeAndState'
          description: Get a histogram of subscribers by type and then state
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Get a histogram of subscribers by type and then state
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/histogram_by_state \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}/subscribers/count:
    get:
      description: Get a count of subscribers by type
      operationId: getPagesPageIdSubscribersCount
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: If this is present, only count subscribers of this type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - email
          - sms
          - slack
          - webhook
          - integration_partner
          type: string
        style: form
      - description: If this is present, only count subscribers in this state. Specify
          state "all" to count subscribers in any states.
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: active
          enum:
          - active
          - unconfirmed
          - quarantined
          - all
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriberCountByType'
          description: Get a count of subscribers by type
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a count of subscribers by type
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/count \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}/subscribers/unsubscribed:
    get:
      description: Get a list of unsubscribed subscribers
      operationId: getPagesPageIdSubscribersUnsubscribed
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page offset to fetch. Beginning February 28, 2023, this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of results to return per page. Beginning February 28,
          2023, a default and maximum limit of 100 will be imposed and this endpoint
          will return paginated data even if this query parameter is not provided.
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscriber'
                type: array
          description: Get a list of unsubscribed subscribers
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a list of unsubscribed subscribers
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/unsubscribed \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
  /pages/{page_id}/subscribers:
    get:
      description: Get a list of subscribers
      operationId: getPagesPageIdSubscribers
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: If this is specified, search the contact information (email,
          endpoint, or phone number) for the provided value. This parameter doesn’t
          support searching for Slack subscribers.
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: If specified, only return subscribers of the indicated type.
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - email
          - sms
          - webhook
          - slack
          - integration_partner
          type: string
        style: form
      - description: If this is present, only return subscribers in this state. Specify
          state "all" to find subscribers in any states.
        explode: true
        in: query
        name: state
        required: false
        schema:
          default: active
          enum:
          - active
          - unconfirmed
          - quarantined
          - all
          type: string
        style: form
      - description: The maximum number of rows to return. If a text query string
          is specified (q=), the default and maximum limit is 100. If the text query
          string is not specified, the default and maximum limit are not set, and
          not providing a limit will return all the subscribers. Beginning February
          28, 2023, a default limit of 100 will be imposed and this endpoint will
          return paginated data (i.e. will no longer return all subscribers) even
          if this query parameter is not provided.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: The page offset of subscribers. The first page is page 0, the
          second page 1, etc. This skips page * limit subscribers. Beginning February
          28, 2023, this endpoint will return paginated data even if this query parameter
          is not provided.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
      - description: 'The field on which to sort: ''primary'' to indicate sorting
          by the identifying field, ''created_at'' for sorting by creation timestamp,
          ''quarantined_at'' for sorting by quarantine timestamp, and ''relevance''
          which sorts by the relevancy of the search text. ''relevance'' is not a
          valid parameter if no search text is supplied.'
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          default: primary
          enum:
          - primary
          - created_at
          - quarantined_at
          - relevance
          type: string
        style: form
      - description: The sort direction of the listing.
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscriber'
                type: array
          description: Get a list of subscribers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Get a list of subscribers
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    post:
      description: Create a subscriber. Not applicable for Slack subscribers.
      operationId: postPagesPageIdSubscribers
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postPagesPageIdSubscribers'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: Create a subscriber. Not applicable for Slack subscribers.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: You are not authorized to access this resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Unprocessable entity
      summary: Create a subscriber
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |-
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST \
            -d "subscriber[email]=string"
  /pages/{page_id}/subscribers/{subscriber_id}/resend_confirmation:
    post:
      description: Resend confirmation to a subscriber
      operationId: postPagesPageIdSubscribersSubscriberIdResendConfirmation
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Subscriber Identifier
        explode: false
        in: path
        name: subscriber_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          description: Resend confirmation to a subscriber
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Resend confirmation to a subscriber
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id}/resend_confirmation \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X POST
  /pages/{page_id}/subscribers/{subscriber_id}:
    delete:
      description: Unsubscribe a subscriber
      operationId: deletePagesPageIdSubscribersSubscriberId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Subscriber Identifier
        explode: false
        in: path
        name: subscriber_id
        required: true
        schema:
          type: string
        style: simple
      - description: If skip_unsubscription_notification is true, the subscriber does
          not receive any notifications when they are unsubscribed.
        explode: true
        in: query
        name: skip_unsubscription_notification
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: Unsubscribe a subscriber
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Unsubscribe a subscriber
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X DELETE
    get:
      description: Get a subscriber
      operationId: getPagesPageIdSubscribersSubscriberId
      parameters:
      - description: Page identifier
        explode: false
        in: path
        name: page_id
        required: true
        schema:
          type: string
        style: simple
      - description: Subscriber Identifier
        explode: false
        in: path
        name: subscriber_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
          description: Get a subscriber
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: Could not authenticate
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEntity'
          description: The requested resource could not be found.
      summary: Get a subscriber
      tags:
      - subscribers
      x-code-samples:
      - lang: Curl
        source: |
          curl https://api.statuspage.io/v1/pages/{page_id}/subscribers/{subscriber_id} \
            -H "Authorization: OAuth your-api-key-goes-here" \
            -X GET
    patch:
      description: Update a subscriber
      operationId: patchPagesPageIdSubscribersSubscriberId
      parameters:
      - description: Page identifier
        explode: false
        in: path
[...]
